.THIS.container {
    margin: auto;
    max-width: 450px;
    padding-bottom: 50px;
}

.THIS #sfdc_username_container{
    margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS #sfdc_lock{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  .login-icon {
    color:#ccc;font-size:22px;
}

.THIS #sfdc_password_container{
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.THIS  button.sfdc_button {
    width: 100%;
    height: 54px;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #ed1b2e;
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.42857143;
    border-radius: 2px;
}

.THIS  button:hover {
    background-color:none;
    border-color:none;
    cursor:pointer;
}

.THIS button .label {
    color: #fff;	
}

.THIS  input {
    margin-left:0px;
    margin-top: 3px;
    border: 1px solid;
    border-color: lightgrey;
    width: 100%;
    -webkit-appearance: none;
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(109, 110, 112);
    text-align: left;
    padding: 10px;
}

.THIS  a {
    color: #6D6E70;
    text-decoration: none;
}
.THIS  a:hover {
}

.THIS label.uiLabel-hidden {
    display:none;
}

.THIS .link{
    color: #6D6E70;
    font-weight: bold;
}

.THIS .redCrossEmp{
    text-decoration: underline;
}

.THIS .loginContent {
    padding-top: 12px;
    font-family: sans-serif;
    font-size: 18px;
    color: #6D6E70;
    line-height: unset;
}

.THIS #sfdc_register {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
}

.THIS #sfdc_register a {
    color: red;
}

.THIS .redline {
    border-color: red;
}