.THIS.VAB-title {
    color: rgb(109, 110, 112);
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    padding-top: 1em;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    margin: 0 0 15px 0;
    word-wrap: break-word;
    border-top: 1px solid #c6c6c6;
    padding-top: 25px;
}

.THIS.VAB-copy {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #999;
}