.THIS .tabView {
    padding-top: 100px;
}
.THIS .left{
    margin-left: 10px;
}
.THIS.white{
    background-color: white !important;
}

.THIS .intialButton{
    width: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 13px;
}

.THIS .lookupError{
	color: #c23934;
    font-size: .75rem;
	margin-top: .5rem;
	display: block;
}
.THIS .poButtons{
    width : 500px;
}
.THIS .poFiels{
    width : 1000px;
}

.THIS .top{
    margin-top: 7px;
}
.THIS .width{
    width:171px;
}
.THIS .slds-box{
    padding:0.25rem 
}
.THIS .slds-theme_shade{
    background-color : #e3e4e5 !important;
}
.THIS .customButton{
    background-color: #FF0000;
    color: #fff; 
}

.THIS .customButtonRed{  
    color: #FF0000; 
}

.THIS .custom-background {
    background-color: gray;
}

.THIS.Red{
    background-color: red !important;
}

.THIS .slds-progress__item .slds-progress__marker .slds-progress__list-bordered{
    border-color:#FF0000 !important;
    color:#FF0000 !important;
}

.THIS .slds-progress__item.slds-is-active .slds-progress__marker {
    border-color:#FF0000 !important;
    color:#FF0000 !important;
}

.THIS .slds-progress__marker  {
    border-color:#FF0000;
    color:#FF0000 !important;
}

.THIS .slds-progress-bar__value{
    background-color:#FF0000 !important;
}

.THIS .errMsg {
    display:inline-block !important;
    color: red;
}