.THIS.preview-expanded:hover, 
.THIS.preview-expanded:hover>* {
    background: transparent !important;
}
.THIS .cursor {
	cursor: pointer;
}

.THIS .break-line {
	word-wrap: break-word;
    white-space: normal;
}