<?xml version="1.0" encoding="UTF-8"?>
<PermissionSet xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Allows specific users to Edit the field &quot;Payment Terms&quot; on an Account.</description>
    <fieldPermissions>
        <editable>true</editable>
        <field>Account.Payment_Terms__c</field>
        <readable>true</readable>
    </fieldPermissions>
    <hasActivationRequired>false</hasActivationRequired>
    <label>SB - INV Payment Term Edit Rights</label>
</PermissionSet>
