.THIS {
    border: 1px solid #9e9da2;
    background-color: white;
}
.THIS .circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.THIS .circle-gray{
    background-color: #d6d6d7;
}
.THIS .circle-green{
    background-color: #8dc16c;
}
.THIS .pie-container g>path {
    stroke: transparent!important;
}
.THIS .pie-container {
    font-weight: bold;
    height: 190px;
}
.THIS .pieLabel {
    position: absolute;
    font-size: 33px;
    top: 50%;
    width: 140px;
    white-space: pre-line;
    text-align: center;
    line-height: 31px;
    font-family: arial;
    font-weight: 700;
    margin-top: -14px;
}
.THIS .pieLabel.oneLine {
    margin-top: -13px;
}
.THIS .pieLabel.twoLine {
    margin-top: -25px;
}