body {
	background:url(img/000056907908_PHSS_Manual_Gray_Backround_GRAYSCALE.jpg) 50% 50%/cover no-repeat fixed #939496};
}
p {
	text-align: left;
	font-family: Arial;
	font-weight: 300;
	font-size: 14px;
} 
